body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a,h1 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: green;
}

.main {
  margin-left: 320px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

button {
	width: 60px;
	height: 25px;
	background-color: #76549A;
	color: white;
}

h1.topic {
	padding-left: 0px;
	font-size: 40px;
}


@media screen and (max-width: 800px) {
  .sidenav {padding-top: 15px;
  width: 126px;
  }
  .sidenav a {font-size: 15px;}
  .sidenav h1 {font-size: 18px;}
  .main {
	  margin-left: 120px;
	  font-size: 10px;
  }
  input {
	  width: 100px;
  }
  h1.topic {
	padding-left: 0px;
	font-size: 30px;
}
}
